.d-btns{
   
    display: flex;
    gap: 2rem;
    align-items:center;
    justify-content: right;
    padding-right: 2rem;
    
}

.d-btns .edit_btn{
    padding: 6px 20px 6px 20px;
    background: rgb(16, 143, 186);
    color: #fff;
    border: none;
    border-radius: 12px;
    cursor: pointer;
    font-size: 16px;

    
}
.d-btns .delete_btn{
    padding: 6px 20px 6px 20px;
    background: rgb(255, 39, 31);
    color: #fff;
    border: none;
    border-radius: 12px;
    cursor: pointer;
    font-size: 16px;
}

.d-btns .edit_btn:hover{
    box-shadow: 0 0 10px rgba(12, 162, 189, 0.697);
}

.d-btns .delete_btn:hover{
    box-shadow: 0 0 10px rgba(255, 33, 8, 0.83);
}

.model{
    position: fixed;
    left: 50%;
top: 50%;
transform: translate(-50%,-50%);
    display: flex;
    align-items: center;
    flex-direction: column;
    max-width: 18rem;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    padding: 1.5rem 2rem;
    border-radius: 10px;
    background-color: #fff;
  
}

.model .handleBUtton{
    display: flex;
  gap: 2rem
}


.model p{
    font-size: 17px;
}

.w-single{
    position: relative;
}


.blur-background {
    filter: blur(5px);
  }
  
.yes{
    padding: 0.4rem 1rem;
    border: 1px solid #ccc;
    border-radius: 10px;
    font-size: 15px;
    cursor: pointer;
    

  }
.cancel{
    padding: 0.4rem 1rem;
    border: 1px solid #ccc;
    border-radius: 10px;
    font-size: 15px;
    cursor: pointer;

  }

.About_pets{
 
    width: fit-content;
    height: max-content;
    margin-bottom: 1rem;
}
.About_pets p{
 
    font-size: 16px;
    color: #525050;
    line-height: 1.8rem;
    text-align: justify;
}

.desrciption span{
    line-height: 1.4rem;
    text-align: justify;
}

.details_contain{
    margin: 2.5rem 0 1rem 2rem;
    display:flex;
    gap:10px;
}

.details_contain span{
   font-size: 2.4rem;
font-weight: 600;
     
}
