.reset_form{
    
    max-width: 400px;
    margin: 8rem auto;
    padding: 0rem 2rem 2rem 2rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 6px rgba(0,0,0,0.4);
}

.main_reset{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2ren;
}

.reset_form .password{
    padding: 8px;
    border-radius: 10px;
    border: 1px solid #ccc;
    width: 92%;
}

.reset_inputs{
    display: flex;
    gap: 1rem;
    flex-direction: column;
}

.pass_confirm{
    padding: 8px;
    border-radius: 10px;
    background: rgb(167, 19, 162);
    color: #fff;
    border: 1px solid #ccc;
    cursor: pointer;

}