.forget-container {
  max-width: 400px;
  margin: 6rem auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 6px rgba(0,0,0,0.4);
}

.form-group {
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 5px;
}

.email_form input{
  width: 90%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.otp_btn {
  background-color: #0d7493;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
}

.otp_btn:hover {
  background-color: #039f9a;
}

.forgot_message{
    text-align: center;
    
}

.bck{
  margin: 1rem;
}