

.W-Addpet{
    display: flex;
    align-items: center;
    height: 128vh;
    justify-content: center;
    flex-direction: column;

background: linear-gradient(to bottom right, #2d7c97 0%, #449d8d 33%, #82c0a2 66%, #30708b);


  

 

}

.W-Addpet h2{
  /* margin-top: 2rem; */
 color: #fff;
  font-size: 2.8rem;
}
.pet_form{
   
   background-color: #00000041;

   padding: 2rem 2rem 1.5rem 2rem;
   border-radius: 10px;
   border: 1px solid #ccc;
 box-shadow: 0 0 8px rgba(115, 115, 115, 0.4);
    
}

.left_form{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.form_p{
    display: flex;
    gap: 2rem;
}


.form_p .l-1{
  margin-top: 1rem;
}
.form_p .l-1 input{
    width: 20rem;
}
.form_p .l-1 input,textarea{
    padding: 10px;
  border-radius: 5px;
  border: none;
  outline: none;
resize: none;
  border-bottom: 1px solid #b3b3b3;
  color: #5a5959;
  margin-top: 4px;
  margin-bottom: 2px;
  font-size: 15px;

}
.form_p .l-1 label{
font-size: 16px; 
color: #fff;  
}
.form_p .l-1 select{
font-size: 15px; 
padding: 10px;  
border: 1px solid #ccc;
border-radius: 8px;
width: 21rem;
color: #5a5959;

}
.form_p .l-2 label{
font-size: 16px;  
color: #fff; 
}

.form_p .l-2{
  margin-top: 1rem;
}
.form_p .l-2 input{
background-color: rgba(0, 0, 0, 0);   
cursor: pointer;
padding: auto;
color: #333;
border-radius: 8px;
width: 200px;
padding: 5px;
border: 1px solid #ccc;


}

.pet_form form button{
    margin-top: 1.5rem;
    background: rgb(13, 159, 127);
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 18px;
    padding: 11px 26px 11px 26px;
    cursor: pointer;
}

.message {
    font-size: 16px;
  text-align: center;
  }
  
  .success {
    color: green;
  }
  
  .error {
    color: red;
  }
  


  .l-1 textarea{
    font-family: Arial, Helvetica, sans-serif;
    
  }

  .l-2 p{
    color: #fff;
  }
  
  .buttonss{
    display: flex;
    justify-content: space-between;
  }
  .buttonss .button4{
    margin-top: 1.5rem;
    background:  rgb(13, 110, 159);
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 18px;
    padding: 11px 26px 11px 26px;
    cursor: pointer;
   
  }