body{
  background-color: #fff;
}


.w-mainIntro{
    background-image: url('../../img/main-page.png');
    width: 100%;
    background-repeat: no-repeat;
    height:70vh;
    background-size: cover;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
    z-index: -1;
    background-color: #fff;
    padding: 1rem;
  margin-bottom: 3.2rem;
   
}


.m-pets {
    position: relative;
  }
  
  .m-pets .pets {
    position: absolute;
    left: 11rem;
    top: -10.6rem;
   

  }

 .spans{
    position: absolute;
    left: 4rem;
  }

  .w-mainIntro .spans span{
    text-transform: capitalize;
    font-size: 3.3rem;
    font-weight: 700;
    padding: 0.5rem ;
    display:flex;
    flex-direction: column;
    align-items: justify;
    color:  #2a5b85e4
  }
      
    
   .featured_pets{
    margin: 6rem;
   }

      
  .featured_pets  .head{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: -8rem;
    position: relative;
  }
   
  .featured_pets  .head span:nth-child(1){
    color: #FBAE02;
    font-size: 18px;
  }
  
  .featured_pets  .head span:nth-child(3){
  
    font-size: 3rem;
    font-weight: 600; 
 
  }
  

  .featured_pets  .head span:nth-child(1)::before{
  content: "";
  position: absolute;
  top: 5%;
  min-width: 3rem;
  left:26.5em;
  height: 0.1rem;
  background-color: #FBAE02;
  border-radius: 2px;
  }

  .featured_pets  .head h2{
    font-size: 3rem;
    text-transform: capitalize;
  }
/* 
 
  .pet_box .petcard{
    border: 1px solid #ccc;
    border-radius: 8px;
    margin-bottom: 20px;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  .pet_box img{
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }

.pet_box_span{
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 0.5rem 2rem 2rem 2rem;

}

.pet_box_span span:nth-child(1){
  font-weight: 700;
  font-family: cursive;
  font-size: 22px;
}
.pet_box_span span:nth-child(2){

  font-size: 14px;
  text-align: justify;
  color: #919090;
}

.read_btn{
 width: 100px;
 margin-top: 10px;
 cursor: pointer;
 background-color: #fa4f4f;
 border: none;
 border-radius: 20px;
 color: #fff;
 padding: 0.5rem ;
 transition: all 0.3s ease-in-out;
 
}
.read_btn:hover{

 background-color: #fa634f;

 
}

.main_pet{
  padding: 1rem;
  display: grid;
  grid-template-columns: repeat(3,1fr);

 
  gap: 3rem;
}

.head img{
  margin-top: 10px
} */

.petsbox {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 3rem; 
  padding: 2rem 0 2rem 0;
}

.pet_box_span {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
 
 
  flex-direction: column;
}

.pet-image {
  width: 100%;
  height: auto;
  border-radius: 8px;
  margin-bottom: 10px;
}

.read_btn {
  width: 100px;
 margin-top: 10px;
 cursor: pointer;
 background-color: #fe3c3c;
 border: none;
 border-radius: 20px;
 color: #fff;
 padding: 0.5rem ;
 transition: all 0.3s ease-in-out;
}

.read_btn:hover {
  background-color: #f44b48;
}
