
  
  /* Styling for the banner */
  .ia_banner {
      background-image: url('../../img/Banner.png');
      width: 100%;
      background-repeat: no-repeat;
      height: 65vh;
      background-size: cover;
    
  }
  

  .ia_banner span {
      text-transform: capitalize;
      padding: 0.5rem;
      display: flex;
      font-weight: 700;
      flex-direction: column;
     align-items: flex-start;
     text-align: center;
     
  }
  

  .ia_banner span:nth-child(1) {
    color:  rgb(77, 139, 180);
      /* font-family: 'Comic Sans MS', cursive; */
      font-size: 3.2rem;
      font-weight: 700;
      padding-bottom: 0.8rem;
  }
  

.ia_banner span:nth-child(2) {
   color:  rgb(77, 139, 180);
/*  
    font-family: 'Comic Sans MS', cursive; */
    font-size: 3rem;
    padding-bottom: 1rem;
}

 
  .ia_slogans {
      width: 40%;
      align-items: center;
      padding: 5rem;
  }




