.banner{
    background-image: url('../../img/Banner.png');
    width: 100%;
    background-repeat: no-repeat;
    height: 70vh;
    background-size: cover;
    display: flex;
    flex-direction: column;
  
  
}

.b-wrapper{
  padding: 4rem 0;
}

.banner span{
    text-transform: capitalize;
    
    padding: 0.5rem ;
    display:flex;
    flex-direction: column;
}

.banner span:nth-child(1){
    color: #fff;
    font-family:'Trebuchet MS', sans-serif;
    font-size: 3.2rem;
    font-weight: 700;
    padding-bottom: 0.8rem;
}

.banner span:nth-child(2){
    color: #fff;
    font-family:'Trebuchet MS', sans-serif;
    font-size: 1.1rem;
    padding-bottom: 2rem;
    
}

.slogans{
   
    width: 40%;
    align-items: center;
    padding: 8rem;
}